@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&family=Roboto:ital@1&display=swap');

* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

body {
    
    max-width: 1240px;
    margin: 0 auto;
    font-family: 'Poppins', sans-serif;
}

.top-banner {
    display: flex;
    background-color: #161616;
    border-radius: 30px;
    padding-left: 106px;
    padding-right: 68px;
    padding-top: 41px;
    margin-top: 42px;
}

.banner-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
}

div.banner-content.flex-container {
    display: flex;
    align-items: flex-start;
}

.banner-content__heading, .banner-content__description, .banner-content__btn {
    color: #FFFFFF;
    margin-bottom: 20px;
}

.banner-content__heading {
    font-size: 70px;
    line-height: 80px;
}

.banner-content__description {
    font-weight: 400;
    width: 95%;
}

.banner-content__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #DD0000;
    font-size: 20px;
    border-radius: 5px;
    padding: 16px 25px;
    width: 187px;
    height: 56px;
    text-decoration: none;
    
}

main {
    margin: 130px 0px;
}

.banner-content__image {
    width: 100%;
    height: 600px;
}

.main-contents {
    display: grid;
    grid-template-columns: 312px auto;
    column-gap: 24px;
}

.navigation-container {
    height: 312px;
}

.navigation-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:#ff1818;
    background: #161616;
    border-radius: 10px;
    
}

.navigation-container a {
    background-color: #FFFFFF;
    display: block;
    text-decoration: none;
    padding: 17px 39px;
    margin: 30px;
    text-align: center;
    border-radius: 10px;
    font-size: 20px;
    color: #161616;
}

#active {
    background-color: #DD0000;
    color: #FFFFFF;
    
}

.navigation-container li {
    list-style: none;

}

.blogs {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 24px;
}

.blog {
    border: 1px solid lightgrey;
    border-radius: 10px;
}

.blog__thumbnail{
    width: 100%;
}

.blog__title {
    font-size: 18px;
}

.blog__content {
    padding: 20px;
}

@media only screen and (max-width: 688px) {
    body {
        margin: 8px;
    }
    .top-banner {
        width: 100%;
        flex-direction: column;
        justify-content: center;
        padding: 28px 38px 0px 38px;
        
    }

    .banner-content {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        
    }

    .banner-content__heading {
        text-align: center;
        font-size: 22px;
        line-height: 33px;
        width: 228px;
    }

    .banner-content__description {
        font-size: 14px;
        text-align: center;
    }

  
    
}

@media only screen and (min-width: 689px) and (max-width: 992px){

    .banner-content__heading {
        font-size: 40px;
        line-height: 33px;
    }

    .banner-content__description {
        font-size: 14px;
    }

  
    
}